{% extends "base.html" %}
{% load static %}

{% block title %}文章详情{% endblock title %}

{% block content %}
<div class="container">
    <div class="row">
        <!-- 展示文章的title -->
        <h1 class="col-12 mt-4 mb-4">{{ article.title }}</h1>
        <!-- 展示文章的author -->
        <div class="col-12 alert alert-success">作者：{{ article.author }}
        . <a href="{% url 'article:article_update' article.id %}">编辑文章</a>
        . <a href="#" onclick="confirm_safe_delete()">删除文章</a>
        <form
            style="display:none;"
            id="safe_delete"
            action="{% url 'article:article_safe_delete' article.id %}"
            method="POST"
            >
            {% csrf_token %}
            <button type="submit">发送</button>
            </form>
        </div>
        <!-- 文章正文 -->
        <div class="col-12">
            <p>{{ article.body|safe }}</p>
        </div>
    </div>
</div>

<script type="text/javascript">
    function confirm_safe_delete() {
        // body...
        layer.open({
            title: '确认删除',
            content: '确认删除这篇文章吗？',
            yes: function(index, layero) {
                $('form#safe_delete button').click();
                layer.close(index);
                // location.href='{% url "article:article_delete" article.id %}'
            }
        });
    }
</script>
{% endblock content %}